@import url(./styles/header.css);
@import url(./styles/main.css);
@import url(./styles/footer.css);
:root {
    --background: #ececec; 
    --fontcolor: #1c1c1c;
    --background-footer: #363636;
    --fontcolor-secundary: #FFFFFF;
    --font-type: 'Merriweather';
    --click-color: #A6A6A6; 
}
body{
    font-family: var(--font-type);
    font-weight: 400;
    font-size: 14px;
    cursor: default;
}





