.header{
    display: flex;
    justify-content: space-between;
    margin: 1em 2.5em;
    text-align: center;
    align-items: center;
}
.nav-bar__logo{
    width: 50%;
}
.nav-bar__items{
    margin-right: 5em;
}
.nav-bar__links{
    display: inline;
    flex-direction: row;
    padding-right: 1em;
}
.nav-bar__links:hover{
    color: var(--click-color);
    transition: ease-in-out 0.2s all;
    border-left: 1px solid var(--fontcolor);
}
@media screen and (max-width: 448px){
    .header{
        display: block;
    }
    .nav-bar__items{
        display: flex;
        flex-wrap: wrap;
        margin: 0 2em;
        justify-content: center;
    }
    .nav-bar__links{
        padding: .5em 1em;
    }
    
}