
/* INDEX */

.swiper {
  width: 100%;
  height: 650px;
}
.slide__image{
  width: 100%;
  height: 100%;
}
.swiper-button-prev::after, .swiper-button-next::after{
  color: var(--fontcolor-secundary);
}
.container__portfolio{
  cursor: default;
  margin: 8em 2em;
  border-top: 1px solid var(--background-footer);
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;
}
.portfolio__architecture{
  margin: 2em;
}
.achitecture__title{
  font-weight: 700;
  font-size: 35px;
  padding: 1em 0;
  color: var(--click-color);
  text-align: right;
}
.architecture__logo{
  width: 50%;
}

/* PAGINA PORTFOLIO */

.portfolio{
  text-align: center;
}
.portfolio__title{
  font-weight: 700;
  font-size: 35px;
  color: var(--click-color);
  margin: 2em 0;
}
.container__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
  margin-bottom: 8em;
  overflow: hidden;
}  
.container__column {
  flex: 25%;
  max-width: 25%;
  padding: 0 8px;
}
.container__image {
  margin-top: 12px;
  vertical-align: middle;
  width: 100%;
  transition: all linear 0.2s;
  cursor: pointer;
}
.container__image:hover{
  filter:opacity(0.5);
}  
.modal {
  display: none; 
  position:fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 100%; 
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px;
  height: 150px;
}
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
#img01{
  width: 60%;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
.close {
  display: flex;
  position: relative;
  justify-content: right;
  padding: 1em;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* PAGINA SOBRE NOS*/
.about-us{
  text-align: center;
}
.about-us__title{
  font-weight: 700;
  font-size: 35px;
  color: var(--click-color);
  margin: 2em 0;
}
.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 1px solid var(--background-footer);
  padding-top: 2em;

}
.grid__description{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2em 10em;
}
.relative{
  position: relative;
  right: 10em;
}
.grid__title{
  color: var(--background-footer);
  font-size: 40px;
  font-weight: 700;
  position: relative;
  right: 3.2em;
  letter-spacing: 4px;  
}
.bold{
  color: var(--click-color);
}
.grid__text{
  text-align: left;
  line-height: 1.7em;
}
.about-us__bg{
  background-image: url(../img/sonhe.jpg);
  background-size: 100%;
  height: 450px;
  background-repeat: no-repeat;
}
.about-us__description{
  position: relative;
  top: 50%;
  left: 5%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right:52%;
  background-color: #f1f1f166;
}
.bg__title{
  font-size: 20px;
  font-weight: 700;
  padding-left: 1em;
  color: var(--fontcolor-secundary);
}
.bg__text{
  color: var(--fontcolor-secundary);
  font-size: 15px;
  line-height: 1.5em;
  text-align: left;
  padding: 1em 0 0 1em;
}

/* PAGINA CONTATO  */ 

.contact__link{
  display: flex;
  text-align: left;
  background-color: var(--background-footer);
  color: var(--fontcolor-secundary);
  font-weight: 700;
  padding: 1em;
}
.contact__wpp:hover{
  color: var(--click-color);
  transition: ease-in-out 0.2s all;
}
.contact__logo{
  width: 2%;
  padding: 0 .5em 0 2em;
}
.form__principal{
  text-align: center;
}
.form__title{
  font-weight: 700;
  font-size: 35px;
  color: var(--click-color);
  margin: 2em 0;
}
.form__pernsonaldata{
  color: var(--fontcolor);
  display: inline-grid;
}
.personaldata__title{
  font-size: 16px;
  padding-right: 1em;
}
.form__input{
  border: 1px solid var(--click-color);
  padding: .5em 10em;
  margin: 1em 0;
  border-radius: 5px;
}
.form__input:focus{
  outline: none;
  border-color: var(--click-color);
  box-shadow: 1px 1px 5px var(--click-color);
}
.form__input::placeholder{
  text-align: center;
  color: var(--click-color);
  font-weight: 300;
}
.form__submit{
  padding: 2em 0;
  margin: 1em 0 8em 0;
  border-radius: 5px;
  font-weight: 700;
}
.form__submit:focus, .form__submit:hover{
  outline: none;
  background-color: var(--background-footer);
  color: var(--fontcolor-secundary);
  transition: ease-in-out 0.2s all;
}

  @media screen and (max-width: 448px){
    .swiper{
      height: 300px;
    }
    .container__portfolio{
      display: flex;
      flex-wrap: wrap;
      margin: 1em;
    }
    .achitecture__title{
      text-align: center;
      font-size: 30px;
    }
    /* PAGINA PORTFOLIO*/
    .container__image:hover, .container__image{
      transition: none;
      filter: none;
    }
    .modal-content {
      width: 100%;
    }  
    #img01{
      width: 80%;
    }

    /* PAGINA SOBRE NOS */
    .grid{
      border: none;
    }
    .grid__description{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 1em 2em 1em;
    }
    .grid__image{
      width: 300px;
      height: auto;
      position: relative;
      right: 4em;
    }
    .relative{
      position: relative;
      left: 1em;
    }
    .grid__title{
      color: var(--background-footer);
      font-size: 20px;
      font-weight: 700;
      position: relative;
      right: 2.5em;
      letter-spacing: 3px;  
    }
    .bold{
      color: var(--click-color);
    }
    .grid__text{
      text-align: left;
      font-size: 10px;
    }
    .about-us__bg{
      background-image: url(../img/sonhe.jpg);
      background-size: 100%;
      height: auto;
      background-repeat: no-repeat;
    }
    .about-us__description{
      position: relative;
      top: 1.5%;
      left: 5%;
      padding: 1em;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-right:52%;
      background-color: #f1f1f166;
    }
    .bg__title{
      font-size: 12px;
      font-weight: 700;
      padding-left: 1em;
      color: var(--fontcolor-secundary);
    }
    .bg__text{
      color: var(--fontcolor-secundary);
      font-size: 10px;
      line-height: 1.5em;
      text-align: left;
      padding: 1em 0 0 1em;
    }
    /* PÁGINA CONTATO */
    
    .contact__wpp{
      display: flex;
      align-items: center;
    }
    .form__input{
      padding: .5em 6em; 
    }
    
    
  }