.swiper {
    width: 100%;
    height: 900px;
  }
  .swiper-button-prev:active, .swiper-button-next:active, .swiper-pagination:active{
    color: #ffffff;
  }
  .container__portfolio{
    cursor: default;
    margin: 8em 2em;
    border-top: 1px solid var(--background-footer);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
  }
  .portfolio__architecture{
    margin: 2em;
  }
  .achitecture__title{
    font-weight: 700;
    font-size: 40px;
    padding: 1em 0;
    color: var(--click-color);
    text-align: right;
  }
  .architecture__logo{
    width: 50%;
  }

  @media screen and (max-width: 448px){
    .swiper{
      height: 250px;
    }

    .container__portfolio{
      display: flex;
      flex-wrap: wrap;
      margin: 1em;
    }
    .achitecture__title{
      text-align: center;
      font-size: 30px;
    }
    
  }